

<h3><%= @city.name %></h3>
<%= link_to "edit" , edit_city_path(@city.id) %>
<%= link_to "destroy" , city_path(@city.id), data: {method: :delete , confirm: "are you sure?"} %>

<% if @city.localities.empty? %>
No localities Found!!!
<% else %>
<h3>Total localities found : <%= @city.localities.size %></h3>
<ul>
<% @city.localities.each do |locality| %>
	<li><%= link_to locality.name , locality_path(locality.id) %></li>
	<% end %>
	</ul>
	<% end %>

	
